{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {

    }
  },
  "rules": {
    "strict": 0,
    "quotes": [
      "warn",
      "single"
    ],
    "prettier/prettier": "warn",
    "react/prop-types": "warn",
    "no-unused-vars": "warn"
  },
  "extends": [
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["prettier", "jsx-a11y", "react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}